.recent-blogs {

	&__container {
		padding: 15px 15px 40px 15px;
		margin-bottom: 100px;
	}

	&__body {
		padding-bottom: 70px;
	}

	&__column {
   @extend %flex-all-center;
	column-gap: 20px;
	row-gap: 30px;
	width: 100%;
	}

	&__item {
		padding: 21px 18px 40px 18px;
		border: 1px solid #E7E7E7;
		border-radius: 62px;
		display: flex;
		flex-direction: column;
	}

	&__img {
   position: relative;
	& img{
		width: 100%;
	}
	}

	&__image {}

	&__button {
		content: '';
		position: absolute;
		width: 139px;
		height: 44px;
		left: 7%;
		top: 75%;
	   font-size: 16px;
	   line-height: 150%;
	   letter-spacing: 0.22px;
	   color: $textColor;
		background-color: #ffffff;
		border-radius: 10px 10px 10px 0px;
      display: flex;
		justify-content: center;
		align-items: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__text {}

	&__title {
		font-family: $firstFont;
			font-size: 25px;
			line-height: 140%;
			letter-spacing: 0.5px;
			color: #292F36;
			max-width: 338px;
			padding: 15px 0px 10px 0px;
	}

	&__subtitle {
		font-family:$mainFont;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 0.22px;
			color: #4D5053;
	}

	&__items {
		@extend %flex;
		align-items: center;
	}

	&__buttons {}
}

.container {}

.body-text {
	text-align: center;

	&__caption {}

	&__subCaption {}
}

.caption {}

.subCaption {}

.buttons-recent-blogs {
	cursor: pointer;
}

.buttons {
	
}