// main color
$mainColor: #F5F5F5;
$textColor: #4D5053;
$textColor_2: #292F36;
$textColor_3: #F4F0EC;
$textColor_4: #d6d6d6;
$buttonColor: #FFFFFF;
$brown:#CDA274;
$buttonColorhover:#ffefde;


// fontsize 
$fontSize: 22px;

// transition
$transition: .5s ease-in-out;
/*
// scrollbar vars
$btnColor: #331e1e;
$trackColor: #c49191;
$scrollWidth: 10px;
*/

// main fonts
$mainFont:'Jost';
$firstFont: 'DM+Serif+Display';
$secondFont: 'Inter';

// min width website size
$minWidth: 320;

// max width website size
$maxWidth: 1920;

// container maxwidth size 
$contentContainer: 1200px;

// container padding 
// (30 = 15px left + 15px right side, if 0 = without indent)
$paddingContainer: 30;


// container full size 
// contentContainer + paddingContainer
$container: $contentContainer + $paddingContainer;

// responsive type 
// 1 - without breackpoints
// 2 - with breackpoints 
$responsiveType: 1;


// breackpoints
$pc: $container; 
$table: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;